/* defining CSS varibles */
:root {
  --dark-blue: #1d2540;
  --orange: #f4a00c;
  --green: #34942d;
  --light-blue: #5086f0;
  --light-gray: #f2f2f2;
  --gray: #bac5cf;
  --white: #fff;
  --nav-font-size: 2vw;
  --h1-font-size: 3vw;
  --h2-font-size: 2.6vw;
  --h3-font-size: 2.2vw;
  --p-font-size: 1.8vw;
  --font-family: "Russo One";
  --start-of-main-content: 30px 0;
  --icon-position-from-the-top: 0;
  --aside-margin-top: 40px;
}

/* GENERAL CLASSES */
.center-text {
  text-align: center;
}

/* styling the .container div */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container {
  background-color: var(--dark-blue);
  opacity: 0.85;
  height: 100%;
  padding-bottom: 3vw;
}

/* STYLING THE NAVIGATION BAR */
.navbar {
  min-height: 70px;
  padding: 5px;
  width: 100%;
  background-color: var(--dark-blue);
  position: fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 4;
}
/* styling the logo in the navigation bar */
.logo-link {
  float: left;
  padding-left: 1rem;
}
.logo-image {
  max-height: 70px;
}

.logo-image:hover {
  background-color: var(--orange);
  border-radius: 5px;
}

/* styling the links in the navigation bar */
ul {
  width: 100%;
  padding: 0 0 0 3vw;
  margin: auto;
  display: flex;
  list-style-type: none;
  justify-content: center;
}
li {
  font-family: var(--font-family);
  padding: 0 1rem 0 1rem;
  font-size: var(--nav-font-size);
}
li a {
  color: var(--white);
  text-decoration: none;
}

li a:hover,
li.active a:hover {
  color: var(--orange);
}

li.active a {
  background-color: var(--white);
  color: var(--dark-blue);
}

/* styling the icon links in the nav bar */
nav .icon {
  float: right;
  padding: 1rem 2rem 1rem 0;
  margin: auto 0;
}
i {
  font-size: var(--nav-font-size);
  color: var(--white);
}
.icon i:hover {
  color: var(--orange);
  cursor: pointer;
}

/* styling the hamburger menu */
#hamburger-menu /* the checkbox */ {
  display: none;
}
label[for="hamburger-menu"] /* the humburger icon */ {
  margin: auto 0;
  padding: 1rem 2rem 1rem 0;
  float: right;
  display: none;
}
label[for="hamburger-menu"] /* the humburger icon */ {
  color: var(--white);
}

i.active {
  color: var(--orange);
}

/* STYLING THE HEADER */
header {
  min-height: 50px;
  width: 100%;
  background-color: var(--dark-blue);
  border-top: var(--gray) 1px solid;
  border-bottom: var(--gray) 3px solid;
  border-radius: 0 0 10px 10px;
  position: relative;
  top: 0px;
  overflow: hidden;
  margin-top: 84px;
  z-index: 2;
}

.flashing {
  /* display: inline-block; */
  margin-top: 10px;
  font-family: var(--font-family);
  color: var(--white);
  animation-name: flashing;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.7;
}
@keyframes flashing {
  0% {
    color: var(--gray);
  }
  33% {
    color: var(--light-blue);
  }
  66% {
    color: var(--orange);
  }
  100% {
    color: var(--gray);
  }
}

h1.flashing {
  font-size: var(--h1-font-size);
}
h2.flashing {
  font-size: var(--h2-font-size);
}

.form {
  text-align: center;
}

#search {
  font-size: var(--nav-font-size);
  font-family: var(--font-family);
  border: var(--orange) 3px solid;
  border-radius: 5px 0 0 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: var(--orange);
  padding: 5px;
  border: none;
  border-radius: 0 6px 6px 0;
}
button[type="submit"]:hover {
  cursor: pointer;
}

/* STYLING THE MAIN PAGE CONTENT */
.page-content {
  padding-bottom: 3vh;
  z-index: 1;
  border-radius: 0 0 50% 50%;
}

/* styling .flex */
.flex-lg,
.flex-sm {
  display: flex;
}

/* styling aside.left */
/* the content of this tag will be shown above .flex-sm on smaller screens */
aside.left,
aside.right {
  flex: 1;
  padding: 5px 5px 4vh 5px;
  background-color: var(--dark-blue);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--start-of-main-content);
}

/* STYLING THE LEFT ASIDE ON LARGE SCREENS */
aside.left {
  flex: 1.1;
}
.filter-sort {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 5px;
  margin: var(--aside-margin-top) 1vw 1vw 1vw;
}
.left * {
  font-family: var(--font-family);
}
.left h2 {
  font-size: var(--h2-font-size);
  color: var(--dark-blue);
  font-family: var(--font-family);
  border-bottom: var(--dark-blue) 1px solid;
  margin: 5px auto;
  cursor: pointer;
}
.left h2 i {
  color: var(--dark-blue);
}
.left h3 {
  font-size: var(--h3-font-size);
  color: var(--dark-blue);
  font-family: var(--font-family);
  border-bottom: var(--dark-blue) 1px solid;
  float: left;
  margin: 0;
}
.left form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.criterion {
  margin: 5px 0;
}
.criterion .title {
  float: left;
  font-size: var(--p-font-size);
}
.criterion .input {
  float: right;
}
.input input {
  max-width: 5vw;
  height: var(--p-font-size);
}
.input input[type="checkbox"] {
  width: var(--p-font-size);
  height: var(--p-font-size);
}

/* styling the hide and show filter/sort areas */
#filters-checkbox,
#sort-checkbox {
  display: none;
}
#filters-checkbox:checked ~ #filters-form,
#sort-checkbox:checked ~ #sort-form {
  display: none;
}

/* styling .flex-sm */
.flex-sm {
  flex: 4;
}

/* STYLING THE MAIN SECTION */
main {
  flex: 3;
  min-height: 500px;
  padding: 1vw 5px 9vh 5px;
  background-color: var(--light-gray);
  opacity: 0.9;
}
/* styling the animation on sections */
section {
  animation: show 1s forwards ease-in;
  opacity: 0;
}

@keyframes show {
  100% {
    opacity: 1;
  }
}
main * {
  font-family: var(--font-family);
  color: var(--dark-blue);
}

h2 {
  font-size: var(--h2-font-size);
}
.game-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  border-bottom: var(--dark-blue) 2px solid;
}
.product {
  position: relative;
  flex-basis: 150px;
  flex-shrink: 1;
  flex-grow: 1;
  margin: 1vw;
  /* max-width: ;
  max-height: ; */
  box-shadow: 0px 0px 3px 4px rgb(86, 65, 87);
}
.product:hover {
  transform: scale(1.02);
}
.product img {
  width: 100%;
  height: 75%;
}
.product i {
  font-size: var(--nav-font-size);
  color: var(--white);
  background-color: var(--dark-blue);
  position: absolute;
  z-index: 2;
}
.product i.added-to-cart,
.product i.added-to-cart:hover {
  color: red
}
a.shopping-cart {
  position: relative;
  text-decoration: none;
}
a.shopping-cart .number-of-cart-items {
  color: white;
  background-color: red;
  padding: 3px 8px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 15px;
  display: none;
}
.product i:hover {
  cursor: pointer;
  color: var(--green);
}
.product a {
  text-decoration: none;
}
.add-to-favourites {
  left: 0px;
  top: var(--icon-position-from-the-top);
}
.add-to-cart {
  right: 0px;
  top: var(--icon-position-from-the-top);
}
.product a h3 {
  margin: 0;
  font-size: 0.2 * var(--p-font-size);
  padding-bottom: 2px;
}
.product a p {
  margin: 0;
  padding: 2px;
  font-size: var(--p-font-size);
  background-color: var(--orange);
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
}

/* STYLING THE RIGHT BAR */
aside.right {
  justify-content: flex-start;
}
aside.right a.icon {
  display: flex;
  justify-content: center;
  padding: 0px;
  text-decoration: none;
  margin-top: var(--aside-margin-top);
}
aside.right a.icon i {
  font-size: var(--h1-font-size);
}

/* STYLING THE TO-TOP ICON */
#to-top {
  position: fixed;
  bottom: 25px;
  right: 7.5px;
  background-color: var(--orange);
  padding: 10px 15px;
  border-radius: 50%;
  z-index: 6;
}

#to-top i {
  font-size: 30px;
}

/* STYLING THE SIGN IN/UP FORM */
#sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.void {
  flex: 1;
}

#sign-in form {
  border: var(--green) 3px solid;
  max-width: 50%;
  padding: 0 2vw;
  flex: 6;
  position: relative;
}
label[for="remember-me"] {
  font-size: 0.5 * var(--p-font-size);
}
#form-top img {
  /* putting the logo on top of the form */
  width: 100%;
  height: 20%;
}
#sign-in form > div {
  display: flex;
  padding: 1vw;
}

.sign-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sign-options h3 {
  font-size: 0.2 * var(--h3-font-size);
  margin: 0 0 2vh 0;
}

.sign-options div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 2vh 0;
}

.sign-options div i:hover {
  cursor: pointer;
  color: var(--orange);
}

.or {
  display: flex;
  padding: 2px;
}
.or::after,
.or::before {
  content: "";
  display: flex;
  width: 50%;
  height: 2px;
  background-color: var(--dark-blue);
  margin: auto 2px;
}

#sign-in input[type="text"],
#sign-in input[type="password"] {
  width: 100%;
  border: var(--green) 1.5px solid;
  font-size: 0.5 * var(--p-font-size);
}

/* STYLING THE SIGN IN/UP FORM BUTTONS */
#sign-in-button {
  position: absolute;
  left: -3px;
  width: 55%;
  border: var(--green) 3px solid;
  border-radius: 0px;
  background-color: var(--green);
  color: var(--orange);
  font-size: 0.5 * var(--p-font-size);
}
#sign-up-link {
  position: absolute;
  right: -3px;
  width: 52%;
  border: var(--dark-blue) 3px solid;
  color: var(--white);
  background-color: var(--dark-blue);
  padding: 5px;
  font-size: 0.5 * var(--p-font-size);
}

#sign-in form a input:hover {
  cursor: pointer;
}

/* STYLING THE SIGN UP FORM BUTTONS */
#sign-up-button {
  position: absolute;
  right: -3px;
  width: 55%;
  border: var(--green) 3px solid;
  background-color: var(--green);
  color: var(--orange);
  border-radius: 0px;
  padding: 5px;
  font-size: 0.5 * var(--p-font-size);
}
#sign-in-link {
  position: absolute;
  left: -3px;
  width: 52%;
  border: var(--dark-blue) 3px solid;
  color: var(--white);
  background-color: var(--dark-blue);
  padding: 5px;
  font-size: 0.5 * var(--p-font-size);
}

/* STYLING THE PRODUCTS PAGES */
#section-product-details {
  display: flex;
  font-size: var(--p-font-size);
}
.product-details {
  flex: 20;
  border: var(--dark-blue) 3px solid;
  border-radius: 5px;
  padding: 10px;
}

.poster {
  max-width: 35%;
  float: left;
  padding: 0 10px 10px 0;
}

.left-floated-details {
  float: left;
}

.left-floated-details p:nth-child(1) {
  margin-top: 0;
}

.data {
  color: var(--light-blue);
}

.ranked {
  color: var(--orange);
}

.unfloated-details::before {
  content: "";
  display: block;
  clear: left;
}

/* STYLING THE SHOPPING CART PAGE */
#section-cart {
  display: flex;
  font-size: var(--p-font-size);
}
.cart-details {
  flex: 20;
  border: var(--dark-blue) 3px solid;
  border-radius: 5px;
  padding: 10px;
}
.cart-item {
  display: flex;
  flex-direction: row;
  margin: 1vw;
}

.cart-item img {
  max-width: 10vw;
  min-height: 15vw;
  flex: 1;
}

#section-cart h4 {
  background-color: var(--dark-blue);
  color: var(--white);
  margin: 5vw 1vw 0 1vw;
  padding: 0.5vw;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
  border: var(--dark-blue) 2px solid;
  position: relative;
}

.cart-item-details h3 {
  background-color: var(--dark-blue);
  font-size: var(--h3-font-size);
  color: var(--white);
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.cart-item-details-middle {
  position: absolute;
  top: var(--h3-font-size);
  right: 0;
  left: 0;
  bottom: var(--p-font-size);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vw;
}
.cart-item-details-middle p {
  flex: 1;
  margin: auto;
}

.cart-item-details-middle button {
  display: inline-block;
  background-color: var(--orange);
  border-radius: 5px;
  font-size: var(--p-font-size);
}

.cart-item-details p {
  margin: 1vh auto;
  font-size: var(--p-font-size);
}

.cart-item-details > p {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--green);
}

.buttons {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
}

/* .buttons a, */
.buttons a button,
.buttons button {
  min-width: 40%;
  margin: 1.5vw;
  border-radius: 5px;
  padding: 3px;
  font-size: var(--p-font-size);
  position: relative;
}

.buttons button:hover,
.cart-item-details-middle button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 var(--dark-blue);
}

.btn-cart {
  background-color: var(--green);
}

.btn-favourites {
  background-color: var(--orange);
}

.btn-cart a {
  color: var(--white);
}

.btn-favourites a,
.btn-cart a {
  text-decoration: none;
}

/* Styling the profile page */
#section-profile {
  display: flex;
}
.void-profile {
  flex: 1;
}
.profile-details {
  flex: 8;
  border: var(--dark-blue) 3px solid;
  padding: 1vw;
}
#profile-top img {
  /* putting the logo on top of the form */
  width: 100%;
  height: 20%;
}

.profile-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-picture {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vw;
}
.profile-picture img {
  width: 80%;
  border-radius: 50%;
  margin: auto;
}

.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-info a {
  text-decoration: none;
  margin: 1vw 0;
  padding: 0.5vw;
  width: 100%;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
}

.profile-bottom {
  margin: 0 -1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-bottom a {
  flex: 1;
  text-decoration: none;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1vw;
  padding: 0.5vw;
}

.profile-info a:hover,
.profile-bottom a:hover {
  box-shadow: 0 0 10px 0 var(--dark-blue);
}

/* STYLING THE FOOTER */
footer {
  margin-top: -3vw;
}

footer h1 {
  padding: 1vw;
  background-color: var(--light-blue);
  border-radius: 50% 50% 0 0;
  font-size: var(--h1-font-size);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: lighter;
  margin: 0;
  opacity: 0.999;
}
[data-text]::after {
  content: attr(data-text);
}

/* styling for small screens */
@media screen and (max-width: 475px) {
  .product {
    margin: 2vw;
  }
  .product a h3 {
    font-size: 4vw;
  }
  .product i {
    font-size: 10.4vw;
  }
  #sign-in form {
    max-width: 70%;
  }
  .buttons {
    flex-direction: column;
  }
  .cart-item img {
    max-width: 23vw;
  }
  .cart-item-details h3 {
    font-size: calc(0.8 * var(--h3-font-size));
  }
  .cart-item-details p,
  .cart-item-details-middle button {
    font-size: calc(0.8 * var(--p-font-size));
  }
  .profile-details {
    flex: 20;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --nav-font-size: 4vw;
    --h1-font-size: 5vw;
    --h2-font-size: 4.5vw;
    --h3-font-size: 4vw;
    --p-font-size: 4vw;
  }
  /* styling the hamburger menu in the nav bar */
  .navbar {
    display: block;
    overflow: visible;
    z-index: 3;
  }
  label[for="hamburger-menu"] {
    display: inline;
  }
  #nav-list {
    display: none;
  }
  input[type="checkbox"]:checked ~ #nav-list {
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ .hamburger-icon i {
    color: var(--orange);
  }

  .icon i {
    font-size: var(--nav-font-size);
  }
  .hamburger-icon {
    position: fixed;
    top: 12px;
    right: 0px;
  }

  /* styling the icons in the nav bar on small screens */
  .shopping-cart {
    position: fixed;
    top: 12px;
    right: 50px;
  }
  .sign-up {
    position: fixed;
    top: 12px;
    right: 100px;
  }
  .sign-in {
    position: fixed;
    top: 12px;
    right: 150px;
  }
  #nav-list li {
    text-align: center;
    font-size: var(--nav-font-size);
    padding-top: 5px;
  }

  /* styling the header on small screens */
  header {
    margin-top: 84px;
  }

  .flex-lg {
    display: block;
  }
  /* aside.left {
    display: none;
  } */
  .filter-sort {
    margin: 1vw 5vw;
  }
  .filter-sort h2 {
    font-size: var(--h2-font-size);
  }
  .criterion {
    padding: 5px 0px;
  }
  .criterion * {
    font-size: var(--p-font-size);
  }
  .input input {
    max-width: 20vw;
  }
  aside.left-sm {
    flex: 1;
    /* min-height: 500px; */
    background-color: var(--dark-blue);
    opacity: 0.9;
  }
  main {
    flex: 7;
  }
  aside.right {
    flex: 1;
  }

  .add-to-favourites,
  .add-to-cart {
    font-size: var(--h1-font-size);
  }

  #sign-in form {
    max-width: 70%;
  }
  .poster {
    max-width: 100%;
    padding-right: 0;
  }
  .buttons {
    flex-direction: column;
  }
  .cart-item img {
    max-width: 23vw;
  }
  .profile-details {
    flex: 20;
  }
}

@media screen and (min-width: 640px) and (max-width: 786px) {
  .product a h3 {
    font-size: 4vw;
  }
  .product i {
    font-size: 4vw;
  }
  #sign-in form {
    flex: 10;
    max-width: 70%;
  }
  .profile-details {
    flex: 10;
  }
}

@media screen and (min-width: 786px) and (max-width: 930px) {
  .product a h3 {
    font-size: 2.5vw;
  }
  .product i {
    font-size: 4.2vw;
  }
  .profile-details {
    flex: 10;
  }
}

@media screen and (min-width: 931px) and (max-width: 1100px) {
  .product {
    flex-grow: initial;
    min-height: 250px;
  }
  .product i {
    font-size: 2.5vw;
  }
  .product-details {
    flex: 8;
  }
  .profile-details {
    flex: 10;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1255px) {
  .product {
    flex-grow: initial;
    min-height: 250px;
  }
  .product i {
    font-size: 2.5vw;
  }
}
